// ***** MOBILE RESPONSIVE LAYOUT - FOOTER **** //

@media (max-width: 651px) {
    footer p {
        font-size: 0.7rem;
        line-height: 1.2;
        margin: 15px 12px;
    }
}

@media (min-width: 652px) {
    footer {
        padding: 15px 0;
        p {
            font-size: 0.9rem;
        }
    }
}