// GET ROCKETS COMPONENT STYLING
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        list-style: none;
        flex-wrap: wrap;
        label {
            display: flex;
            align-items: center;
            .descriptionContainer {
                padding-left: 30px;
            }
        }
    }
    .rocketContainer {
    width: 50%;
    background-color: rgb(244, 227, 112);
    border-radius: 20px;
    padding: 10px 15px;
    margin: 20px 40px;
    }
}
.shipContainer2 {
    width: 350px;
    height: 200px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    padding-left: 400px;
    padding-top: 75px;
    outline: 1px solid green;
}

.shipOne {
    width: 50px;
    height: 200px;
    margin: 0 4px;
}

.shipTwo {
    width: 30px;
    height: 250px;
    /* background-color: yellow; */
    margin: 0 4px;
}
.description {
    text-align: left;
}