// LANDING PAGE COMPONENT STYLING
.landing-page {
    .landing-headings {
        color:#320363;
    }
    p {
        line-height: 1.4;
    }
    margin: 30px;
    padding: 70px 95px;
    border: 2px solid #EDA65E;;
    box-shadow: 0px 0px 48px 6px rgba(237, 166, 94, 1);
    border-radius: 10px;
    background-color: #00DBE0;
    display: flex;
    flex-direction: column;
    align-items: center;
     ol {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 0;
        margin-bottom: 70px;
        line-height: 150%;
        li {
            margin-bottom: 10px;
            margin-top: 10px;
            font-family: 'Maitree', serif; ;
        }
        ul {
            color:  #320363;
        }
    }
}

.instructions-list {
    list-style: inside decimal;
    margin-bottom: 5px;
    color: #320363;
}

.mars-AI-landing-pic {
    height: 250px;
    width: 250px;
}

// *********** MEDIA QUERIES BELOW !!!!!!! ************** //
// **** MOBILE RESPONSIVE DESIGN **** //
@media (max-width: 697px) {
    .landing-page {
       padding: 10px 15px 40px 15px; 
            h2 {
                margin-top: 40px;
            }
            img {
                margin-bottom: 45px;
                height: 220px;
                width: 220px;
            }
            p {
                font-size: 0.9rem;
            }
            ol {
                margin-bottom: 30px;
            .instructions-list {
                font-size: 0.8rem;
                line-height: 1.1;
            }
            }
            ul li {
                font-size: 0.8rem;
                line-height: 1.1;
            }
    }
}
// **** TABLET RESPONSIVE DESIGN **** //
@media (min-width: 698px) and (max-width: 900px) {
    .landing-page {
        padding: 0px 15px 40px 15px;
        h2 .landing-headings {
            margin-top: 50px;
        }
        img {
            margin-bottom: 45px;
        }
        }
    }

