.backGroundContainer {
    height: 100vh;
    width: 90%;
    max-width: 1260px;
    margin: 0 auto;
    background-color: #320363;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 2px solid #EDA65E;
    box-shadow: 0px 0px 48px 6px rgba(237, 166, 94, 1);
    border-radius: 20px;
    .modalContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            margin: 20px 15px;
        }
        .btnContainer {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            .playAgainBtn,
            .closeGameBtn {
                margin: 10px 15px;
            }
        }
    }
}

// **** MOBILE RESPONSIVE LAYOUT - MEDIA QUERIES !!! **** //
@media (max-width: 500px) {
    .backGroundContainer {
        margin-bottom: 40px;
        height: 80vh;
        h2 {
            font-size: 0.9rem;
            padding: 0 25px;
        }
    }

    .btnContainer {
        padding: 0 35px;
        .playAgainBtn,
        .closeGameBtn {
            font-size: 0.8rem;
        }
    }
}

@media (min-width: 501px) {
    .backGroundContainer {
        margin-bottom: 50px;
        height: 80vh;
    }
}