    // MODAL COMPONENT STYLES //
.modalContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    .btnContainer {
        align-self: center;
        margin-top: 20px;
    }
}

// **** MOBILE RESPONSIVE LAYOUT - MEDIA QUERIES !!! **** //
@media (max-width: 500px) {
    .modalContainer {
        margin-bottom: 40px;
        h2 {
            font-size: 0.9rem;
            padding: 0 25px;
        }
        .btnContainer {
            padding: 0 35px;
            font-size: 0.8rem;
        }
    }
    .leaderBoardCont {
        margin: 60px 0px 10px;
    }
}

@media (min-width: 501px) {
    .modalContainer {
        margin-bottom: 50px;
    }
}

@media (max-width: 380px) {
    .leaderBoardCont {
        input {
            width: calc(95% - 20px);
        }
    }
}






