.leaderBoardCont {
  border: 2px solid red;
  width: 90%;
  form {
    // width: 70%;
    padding: 60px 0;
    border: 2px solid #EDA65E;
      box-shadow: 0px 0px 48px 6px rgba(237, 166, 94, 1);
      border-radius: 20px;
    label,
    p {
      color: #fff;
      font-family: 'Maitree', serif;
      margin: 5px;
    }
  }
  ul {
    color: #fff;
    list-style: none;
  }
}