.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #40128B;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

img {
  max-width: 100%;
  display: block;
}

/* FONTS / COLOURS / BUTTONS*/
body {
  background-color: #320363;
  min-height: 100vh;
}

h1,
h2 {
  font-family: "Orbitron", sans-serif;
  color: #FBEBFF;
  text-align: center;
}

h1 {
  margin-top: 50px;
  font-size: 3rem;
}

h3 {
  font-family: "Orbitron", sans-serif;
  color: #320363;
}

.spaces-title, .placement-instructions {
  color: white;
  text-align: center;
}

p {
  color: #320363;
  font-family: "Maitree", serif;
  font-weight: 600;
}

button {
  font-family: "Orbitron", sans-serif;
  background-color: #00DBE0;
  color: #320363;
  border: 3px solid #EDA65E;
  box-shadow: 0px 0px 48px 6px rgb(237, 166, 94);
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}
button:hover {
  font-family: "Orbitron", sans-serif;
  background-color: #EDA65E;
  border: 2px solid #00DBE0;
}
button:focus {
  font-family: "Orbitron", sans-serif;
  background-color: #EDA65E;
  border: 2px solid #00DBE0;
}

.npcGridContainer,
.topHeaderContainer,
.leftHeaderContainer,
.bottomGrid,
.gridPlayArea,
.gridRow {
  display: grid;
}

footer {
  background-color: #00DBE0;
  padding: 2px;
  margin-top: 5px;
}
footer .footer-text, footer .juno-link {
  text-align: center;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.rocket {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
form .flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 50px;
}
form .flexContainer li {
  display: flex;
  list-style: none;
  position: relative;
  cursor: pointer;
}
form .flexContainer li, form .flexContainer li :hover {
  cursor: pointer;
}
form .flexContainer li label {
  display: flex;
  align-items: center;
}
form .flexContainer li label .descriptionContainer {
  padding-left: 30px;
  font-size: 0.8rem;
  line-height: 1.4;
}
form .flexContainer li .engineSpecsOverlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.5s;
  padding-bottom: 20px;
}
form .flexContainer li .engineSpecsOverlay p {
  margin: 0;
  font-size: 0.75rem;
  padding-left: 10px;
  color: #FBEBFF;
}
form .flexContainer li .engineSpecsOverlay:hover {
  opacity: 1;
}
form .flexContainer li .engineSpecsOverlay:focus {
  opacity: 1;
}
form .flexContainer .rocketContainer {
  width: 47%;
  height: 420px;
  background-color: #00DBE0;
  border: 2px solid #EDA65E;
  box-shadow: 0px 0px 48px 6px rgb(237, 166, 94);
  border-radius: 20px;
  padding: 25px 20px;
  margin: 50px 0;
  position: relative;
}

.description {
  text-align: left;
}

[type=checkbox] {
  border: 2px solid #EDA65E;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 25px;
  cursor: pointer;
}

@media (max-width: 599px) {
  Form .flexContainer {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 30px;
  }
  Form .flexContainer .rocketContainer {
    width: 100%;
  }
  Form .flexContainer li label {
    flex-direction: column;
  }
  Form .flexContainer li label .rocket {
    width: 150px;
    height: 150px;
  }
  Form .flexContainer li label .descriptionContainer {
    padding-left: 0;
    font-size: 0.7rem;
    line-height: 1.3;
  }
  Form .flexContainer li label .engineSpecsOverlay {
    background-color: rgba(0, 0, 0, 0.9);
  }
  Form .flexContainer li label .engineSpecsOverlay p {
    line-height: 1.6;
  }
  Form .flexContainer li label [type=checkbox] {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  Form .flexContainer {
    padding-left: 0;
    flex-direction: column;
  }
  Form .flexContainer .rocketContainer {
    width: 100%;
  }
  Form .flexContainer h2 {
    font-size: 80%;
  }
}
@media (min-width: 901px) and (max-width: 1120px) {
  form .flexContainer li label {
    flex-direction: column;
  }
  form .flexContainer li label .descriptionContainer {
    font-size: 0.7rem;
  }
  form .flexContainer li label .engineSpecsOverlay {
    background-color: rgba(0, 0, 0, 0.9);
  }
  form .flexContainer li label .engineSpecsOverlay p {
    line-height: 1.6;
  }
}
@media (max-width: 399px) {
  h1 {
    font-size: 2.3rem;
  }
}
/* NPCGrid CSS */
/* Entire Grid Container */
.npcGridContainer {
  max-width: 600px;
  margin: 0 auto;
  grid-template-columns: 1;
  grid-template-rows: 2;
  padding: 2%;
}

/* All Grid Children */
.gridCell {
  background-color: #002C2E;
  border: 1px solid #00DBE0;
}

/* Top Header (A-J) */
.topHeaderContainer {
  grid-template-columns: repeat(11, 1fr);
}

.bottomGrid {
  grid-template-columns: 1fr 10fr;
}

/* Left Header (1-10) */
.leftHeaderContainer {
  grid-template-rows: repeat(10, 1fr);
}

.topHeaderContainer,
.leftHeaderContainer {
  color: #00DBE0;
  font-weight: bold;
}
.topHeaderContainer .gridCell,
.leftHeaderContainer .gridCell {
  text-align: center;
}

/* Grid Play Area */
.gridPlayArea {
  grid-template-rows: repeat(10, 1fr);
}

.gridRow {
  grid-template-columns: repeat(10, 1fr);
}

.gridCell.div.player.targeted,
.gridCell.div.npcDiv.hit,
.gridCell.div.npcDiv.miss {
  pointer-events: none;
}

.gridCell.div.npcDiv {
  cursor: pointer;
}
.gridCell.div.npcDiv:hover, .gridCell.div.npcDiv:focus {
  background-color: #00DBE0;
  border: 2px solid #002C2E;
}

.gridCell.div.npcDiv.hit {
  background-color: red;
}

.gridCell.div.npcDiv.miss {
  background-color: yellow;
}

.landing-page {
  margin: 30px;
  padding: 70px 95px;
  border: 2px solid #EDA65E;
  box-shadow: 0px 0px 48px 6px rgb(237, 166, 94);
  border-radius: 10px;
  background-color: #00DBE0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-page .landing-headings {
  color: #320363;
}
.landing-page p {
  line-height: 1.4;
}
.landing-page ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 70px;
  line-height: 150%;
}
.landing-page ol li {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Maitree", serif;
}
.landing-page ol ul {
  color: #320363;
}

.instructions-list {
  list-style: inside decimal;
  margin-bottom: 5px;
  color: #320363;
}

.mars-AI-landing-pic {
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

@media (max-width: 697px) {
  .landing-page {
    margin: 60px 0;
    padding: 10px 15px 40px 15px;
  }
  .landing-page h2 {
    margin-top: 40px;
    font-size: 1.3rem;
  }
  .landing-page img {
    margin-bottom: 45px;
    height: 220px;
    width: 220px;
  }
  .landing-page p {
    font-size: 0.9rem;
  }
  .landing-page ol {
    margin-bottom: 30px;
  }
  .landing-page ol .instructions-list {
    font-size: 0.8rem;
    line-height: 1.1;
  }
  .landing-page ul li {
    font-size: 0.8rem;
    line-height: 1.1;
  }
}
@media (min-width: 698px) and (max-width: 900px) {
  .landing-page {
    padding: 0px 15px 40px 15px;
  }
  .landing-page h2 .landing-headings {
    margin-top: 50px;
  }
  .landing-page img {
    margin-bottom: 45px;
  }
}
.Falcon1, .Falcon9, .FalconHeavy, .Starship {
  margin: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Falcon9, .FalconHeavy {
  width: 30px;
}

.Falcon1, .Starship {
  width: 50px;
  height: 200px;
}

.shipContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 50px;
}
.shipContainer .rocket-spaces {
  color: white;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.rocket-image {
  height: 200px;
  width: 200px;
}

.reset-button, .launch, .back-button {
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
  margin-top: 50px;
}

.gridContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.gridContainers .playerGridContainer,
.gridContainers .nonPlayerGridContainer {
  flex-grow: 1;
}

.hit-message {
  height: 5vh;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Orbitron", sans-serif;
}

.nextTurn {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 2px;
}

@media (max-width: 651px) {
  .gridContainers {
    flex-direction: column;
  }
  .placement-instructions {
    font-size: 0.8rem;
    line-height: 1.4;
  }
  img {
    max-width: 55%;
  }
  .rocket-image {
    height: 100px;
  }
  .Falcon1,
.Falcon9,
.FalconHeavy {
    width: 40px;
  }
  .spaces-title {
    font-size: 0.8rem;
  }
}
.scoreBoard {
  display: flex;
  background-color: #00DBE0;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  justify-content: space-around;
}
.scoreBoard .player,
.scoreBoard .nonplayer {
  display: flex;
  flex-direction: column;
  border: 5px dotted #EDA65E;
  padding: 10px;
  margin: 10px;
  width: 50%;
}
.scoreBoard .player .score,
.scoreBoard .nonplayer .score {
  background-color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  text-align: center;
}
.scoreBoard .player .score .score-total,
.scoreBoard .nonplayer .score .score-total {
  font-size: 1.5rem;
}
.scoreBoard .player .fleetBarCont,
.scoreBoard .nonplayer .fleetBarCont {
  border: 1px solid #000;
  width: 100%;
  height: 20px;
  padding: 3px;
}
.scoreBoard .player .fleetBarCont .nonPlayerFleetBar,
.scoreBoard .nonplayer .fleetBarCont .nonPlayerFleetBar {
  width: 100%;
  background-color: green;
  height: 100%;
}
.scoreBoard .player .fleetBarCont .playerFleetBar,
.scoreBoard .nonplayer .fleetBarCont .playerFleetBar {
  width: 100%;
  background-color: green;
  height: 100%;
}

@media (max-width: 429px) {
  .score h3 {
    font-size: 0.7rem;
  }
}
@media (min-width: 430px) and (max-width: 505px) {
  .score h3 {
    font-size: 1rem;
  }
}
.backGroundContainer {
  height: 100vh;
  width: 90%;
  max-width: 1260px;
  margin: 0 auto;
  background-color: #320363;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #EDA65E;
  box-shadow: 0px 0px 48px 6px rgb(237, 166, 94);
  border-radius: 20px;
}
.backGroundContainer .modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.backGroundContainer .modalContainer h2 {
  margin: 20px 15px;
}
.backGroundContainer .modalContainer .btnContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.backGroundContainer .modalContainer .btnContainer .playAgainBtn,
.backGroundContainer .modalContainer .btnContainer .closeGameBtn {
  margin: 10px 15px;
}

@media (max-width: 500px) {
  .backGroundContainer {
    margin-bottom: 40px;
    height: 80vh;
  }
  .backGroundContainer h2 {
    font-size: 0.9rem;
    padding: 0 25px;
  }
  .btnContainer {
    padding: 0 35px;
  }
  .btnContainer .playAgainBtn,
.btnContainer .closeGameBtn {
    font-size: 0.8rem;
  }
}
@media (min-width: 501px) {
  .backGroundContainer {
    margin-bottom: 50px;
    height: 80vh;
  }
}
@media (max-width: 651px) {
  footer p {
    font-size: 0.8rem;
    line-height: 1.2;
    margin: 15px 12px;
  }
}
@media (min-width: 652px) {
  footer {
    padding: 15px 0;
  }
  footer p {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=App.css.map */